:root {
  /* v1 Colors */
  --cirrus-fg: #374054;
  --cirrus-bg: #fff;
  --cirrus-primary: #8256E1;
  --cirrus-primary-rgb: 240, 61, 77;
  --cirrus-primary-light: #E2D4F8;
  --cirrus-accent-hover: #6340B6;
  --cirrus-accent-border: #6340B6;
  --cirrus-light: #f6f9fc;
  --cirrus-light-gray: #f8f9fa;
  --cirrus-gray: #d5d7dc;
  --cirrus-dark-gray: #909090;
  --cirrus-dark: #363636;
  --cirrus-link: #5e5cc7;
  --cirrus-link-dark: #4643e2;
  --cirrus-info: #2972fa;
  --cirrus-success: #0dd157;
  --cirrus-success-rgb: 13, 209, 87;
  --cirrus-warning: #fab633;
  --cirrus-danger: #fb4143;
  --cirrus-light-hover: #d0e0ef;
  --cirrus-dark-hover: #505050;
  --cirrus-info-hover: #1062f9;
  --cirrus-link-hover: #f8f7ff;
  --cirrus-success-hover: #0cb94d;
  --cirrus-warning-hover: #f9ad1a;
  --cirrus-danger-hover: #eb0507;
  --cirrus-select-bg: rgba(0, 161, 255, 0.2);
  --cirrus-code-bg: var(--cirrus-primary-light);
  --cirrus-code-fg: #dc4753;
  --cirrus-form-group-bg: var(--cirrus-light-gray);
  --cirrus-form-group-fg: var(--cirrus-dark-gray);
  --toast-primary-bg: rgba(49, 59, 80, 0.9);
 }
