.font-smaller {
  font-size: 0.7rem;

}
.btn {

  line-height: 0.9rem;
}

.btn.btn--pilled {
  padding-left: 1rem;
  padding-right: 1rem;
  }

.text-gray-700 {
  border-color: #B5E6EB !important;
}

.vertical-rl { writing-mode: vertical-rl; }
