<!DOCTYPE html>
<html>
    <head>
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
        />
        <meta charset="UTF-8" />
        <title>StudySmart</title>

        <link
            href="../../../res/cirrus.min.css"
            type="text/css"
            rel="stylesheet"
        />

        <link
            href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css?family=Oswald"
            rel="stylesheet"
        />

        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
            integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
            crossorigin="anonymous"
        />

        <style>
            body {
                background: #c9d6ff; /* fallback for old browsers */
                background: -webkit-linear-gradient(
                    to bottom,
                    #e2e2e2,
                    #c9d6ff
                ); /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to bottom, #e2e2e2, #c9d6ff)
                    no-repeat fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            }

            .bg {
                background: url('https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-371678.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: top center;

                padding-bottom: 100%;
            }

            .frame {
                background-color: #fff;
            }

            .padded {
                padding: 0 2rem;
            }

            .level.fill-height {
                -webkit-box-align: stretch;
                -ms-flex-align: stretch;
                align-items: stretch;
                display: -ms-flexbox;
                display: flex;
            }

            .col-6:first-child {
                padding-left: 0;
            }

            .col-6:last-child {
                padding-right: 0;
            }

            ul {
                display: flex;
                list-style: none;
            }

            li {
                padding: 0 0.5rem;
            }

            .btn-info {
                margin-left: 1rem;
            }
        </style>

        <script
            src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"
        ></script>
    </head>

    <body>
         <div class="header header-fixed unselectable header-animated">
            <div class="header-brand">
                <div class="nav-item no-hover">
                    <a><h6 class="title">StudySmart</h6></a>
                </div>
            </div>
            <div class="header-nav" id="header-menu">
                <div class="nav-left">
                    <div class="nav-item">
                        <a href="#">Profile</a>
                    </div>
                    <div class="nav-item has-sub toggle-hover" id="dropdown">
                        <a class="nav-dropdown-link">Study Group</a>
                        <ul class="dropdown-menu dropdown-animated" role="menu">
                            <li role="menu-item"><a href="#">Your Study Groups</a></li>
                            <li> <%= link_to "New Study Group", new_study_group_path(@study_group)%></li>
                            <li role="menu-item"><a href="#">Other Study Groups</a></li>
                        </ul>
                    </div>

                    <div class="nav-item">
                        <a href="#">Support & Resources</a>
                    </div>
                    <div class="nav-item has-sub toggle-hover" id="dropdown">
                        <a class="nav-dropdown-link">More</a>
                        <ul class="dropdown-menu dropdown-animated" role="menu">
                            <li role="menu-item"><a href="#">Our Story</a></li>
                            <li role="menu-item"><a href="#">Our Mission</a></li>
                            <li role="menu-item"><a href="#">The Team</a></li>
                        </ul>
                    </div>
                </div>

                <div class="nav-right">
                    <div class="form-group">
                        <input type="search" class="form-group-input" placeholder="Search">
                        <button class="form-group-btn">Go</button>
                    </div>
                </div>
            </div>
        </div>

            <div class="grid mt-20">
              <div class="grid-cs-3 grid-ce-10">
              <h1 class="headline-3"><%= @study_group.name %></h1>
              </div>
            </div>
        </section>
    </body>
</html>
