<!-- main container -->
<div class="row w-60 u-center mt-16 u-items-flex-start">

  <!-- first section -->
  <div class="col-12 bg-teal-100 p-0">
    <%= image_tag "girl-and-stars.svg", class: "u-pull-right" %>
      <div class="m-6">

    <!-- group info-->
    <section>

        <h1 class="headline-3 pb-2"><%= @study_group.name %></h1>
        <p class="lead"><%= @study_group.description %></p>
      </div>
    </section>
  </div>



</div>

