
<div class="grid mt-20">
  <div class="grid-cs-3 grid-ce-10">

    <section>
      <div class="content">
        <h1 class="headline-4"><%= @study_group.name %></h1>
        <div class="row">
         <div class="col-4">
           <div class="card h-100 u-flex u-flex-column">
             <div class="card-head">
                   <p class="card-head-title">This is the title</p>
               </div>
               <div class="content">
                   <p>This is some sample text spam spam spam spam spam spam spam. <a href="!#">#place</a><a href="!#">#holder</a><a href="!#">@Cirrus</a></p>
               </div>
               <div class="card-footer level content">6:32 PM - 3 Jul 18</div>
               <div class="action-bar u-center">
                   <button class="btn-transparent outline">Cancel</button>
                   <button class="btn-transparent outline">Save</button>
                   <button class="btn-transparent outline">Post</button>
               </div>
           </div>
         </div>
       </div>
     </div>
   </section>

 </div>
</div>

</body>
</html>
