<div class="row mt-10">
  <!-- start -->
  <div class="col-12 u-center">
    <section id="start" class="w-80 u-flex u-flex-column">
      <%= image_tag  "logo.svg", class: "w-50" %>
      <div class="u-flex u-justify-space-between mt-4">
        <div class="w-40 u-flex u-flex-column u-justify-center">
          <p class="home">
            Beautiful, organized pages with all the material your study group will need. Studying made easy
          </p>
          <%= button_to "CREATE YOUR OWN STUDY GROUP", new_study_group_path, :method => :get, class: "outline btn-link btn-large" %>
          <button class="btn-transparent text-teal-400 btn-large">CREATE A SESSION</button>
        </div>
        <div class="w-40">
          <%= image_tag "home1.png" %>
        </div>
      </div>

    </section>
  </div>
</div>
