        <div class="hero fullscreen">
            <div class="hero-body u-center">
                <div class="w-90" style="position: relative">
                    <div class="row">
                        <div class="col-6" style="padding: 2rem;">
                            <h1>This is a wonderful startup working on something cool.</h1>
                            <p class="lead">Be a part of this revolutionary new feature that would change your studies forever. Seriously. Sign up right now below.</p>

                            <div class="r">
                                <b>Now in <div class="tag tag--link">Version One</div></b>
                            </div>

                            <div class="form-group">
                                <input type="text" placeholder="Enter your email address." />
                                <button class="form-group-btn btn-link">
                                    Sign Up
                                </button>
                            </div>

                        </div>

                        <div class="col-6" style="padding: 2rem;">
                            <img src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

        </div>


        <script async src="../../../res/js/test.js"></script>

        <script src="https://use.fontawesome.com/a696b91557.js"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-40470494-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-40470494-2');
        </script>
        <div class="footer">
        <div class="footer-links">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="footer-copyright">
            This footer is made with <i class="fas fa-heart"></i> at Le Wagon
        </div>
        </div>
        </section>


