
<div class="grid mt-16">
  <div class="grid-cs-3 grid-ce-10">

    <section>
      <div class="content">
        <h1 class="headline-4">my profile</h1>
      </div>
    </section>

    <section class="mt-8">
      <div class="content">
        <h2 class="mb-4">study groups</h2>
        <div id="card-container" class="u-flex">
          <%= link_to new_study_group_path, class: "text-decoration-none" do %>
          <div class="card mr-4 u-justify-center " >
            <div class="content mb-0">

              <p class="title mt-2 mb-0">New Study Group</p>

            </div>
            <div class="u-text-center">
             <p class="gray-900 headline-4 mb-0">+</p>
           </div>
         </div>

         <% end %>

         <% @study_groups.each do |group| %>
         <%= link_to study_group_path(group), class: "text-decoration-none" do %>

         <div class="card mr-4 u-justify-center " >
          <div class="card-head">
                <p class="card-head-title gray-700"><%= group.name %></p>
              </div>
          <div class="content">

           <p class="gray-900 py-1 my-6"> This group has <%= group.sessions.count %> sessions</p>

          </div>

        </div>

        <% end %>
        <% end %>
      </div>
    </div>
  </section>




</div>
</div>

</body>
</html>
