.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.home {
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 140%;
  letter-spacing: 0.06em;
}

