.btn-outline-group {
  max-width: 331px;
  max-height: 58px;
}

.btn-outline-session {
  max-width: 219px;
  max-height: 58px;
}

.btn-group {
  max-width: 331px;
  max-height: 58px;
}

.btn-session {
  max-width: 219px;
  max-height: 58px;
}

.btn-container {

  .btn {
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: 1.5;
    margin-bottom: 0.5rem;
  }

  a {
    font-weight: 500;
  }

  button {
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: 1.5;
    margin-bottom: 0.5rem;
  }

  .bg-teal-200 {
    border-color: #B5E6EB !important;

    &:hover {
      background-color: #7FCED5 !important;
      border-color: #7FCED5 !important;
    }
  }

  .bg-purple-200 {
    border-color: #E2D4F8 !important;

    &:hover {
      background-color: #CBB2F6 !important;
      border-color: #CBB2F6 !important;
    }
  }

}

div p {
  margin: 0;
  padding: 0;
}



.btn.bg-teal-200 {
  border-color: #B5E6EB !important;

  &:hover {
    background-color: #7FCED5 !important;
    border-color: #7FCED5 !important;
  }
}

.btn.bg-teal-300 {
  border-color: #7FCED5 !important;

  &:hover {
    background-color: #59BAC3 !important;
    border-color: #59BAC3 !important;
  }
}

.btn.bg-purple-200 {
  border-color: #E2D4F8 !important;

  &:hover {
    background-color: #CBB2F6 !important;
    border-color: #CBB2F6 !important;
  }
}

.btn.bg-purple-500 {
  border-color: #9C73ED !important;

  &:hover {
    background-color: #8256E1 !important;
    border-color: #8256E1 !important;
  }

}



