.btn-outline-group {
  max-width: 331px;
  max-height: 58px;
}

.btn-outline-session {
  max-width: 219px;
  max-height: 58px;
}

.btn-group {
  max-width: 331px;
  max-height: 58px;
}

.btn-session {
  max-width: 219px;
  max-height: 58px;
}

div p {
    margin: 0;
    padding: 0;
}

