// // Graphical variables
// @import "config/fonts";
// @import "config/colors";


// External libraries
@import "cirrus-ui/dist/cirrus";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS paertials
@import "components/index";
@import "pages/index";
@import "sessions/index";
@import "study_groups/index";

.text-decoration-none {
  text-decoration: none;
}

.btn-responsive {
  font-size: clamp(50%, 1.5rem, 110%) !important;
  padding-top: clamp(0.25rem, 2vw, 0.75rem) !important;
  padding-bottom: clamp(0.25rem, 2vw, 0.75rem) !important;;
  padding-right: clamp(1rem, 8vw, 2rem) !important;
  padding-left: clamp(1rem, 8vw, 2rem) !important;
}

.self-center {
  align-self: center;
}

.wrap {
  flex-wrap: wrap;
}
