// // Graphical variables
// @import "config/fonts";
// @import "config/colors";
@import "./actiontext.scss";

// External libraries
@import "cirrus-ui/dist/cirrus";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "social-share-button";
@import "flatpickr/dist/flatpickr";


// Your CSS paertials
@import "components/index";
@import "pages/index";
@import "sessions/index";
@import "study_groups/index";

.text-decoration-none {
  text-decoration: none;
}

.self-center {
  align-self: center;
}

.self-flex-start {
  align-self: flex-start;
}

.wrap {
  flex-wrap: wrap;
}

.hidden {
  visibility: hidden;
}

.fixed-bottom {
  bottom: 0;
  position: fixed;
}

.padded {
    padding: 0 2rem;
}

.required {
    position: relative;
    top: 1px;
    font-weight: normal;
    color: #363636;
    padding-left: 0.1rem;
}

.go-to-right {
  margin-left: auto;
}

.big-textarea {
    min-height: 20rem;
    height: auto;
  }

.m-half {
  margin: 0.25rem !important;
}

.mx-half {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}

.my-half {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.mr-half {
  margin-right: 0.25rem !important;
}

.ml-half {
  margin-left: 0.25rem !important;
}

.mb-half {
  margin-bottom: 0.25rem !important;
}

.mt-half {
  margin-top: 0.25rem !important;
}

.pt-half {
  padding-top: 0.25rem !important;
}

.bg {
  background: image-url('window-and-quote.svg');
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding-bottom: 100%;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.max-h-32 {
  max-height: 32vh;
}

$size: 1.5rem;

.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
    margin-right: 0.5rem;
  }
}

.fa-w-16 {
  font-size: 21px;
}
:root {
  /* v1 Colors */
  --cirrus-fg: #374054;
  --cirrus-bg: #fff;
  --cirrus-primary: #8256E1;
  --cirrus-primary-rgb: 240, 61, 77;
  --cirrus-primary-light: #E2D4F8;
  --cirrus-accent-hover: #6340B6;
  --cirrus-accent-border: #8256E1;
  --cirrus-light: #f6f9fc;
  --cirrus-light-gray: #f8f9fa;
  --cirrus-gray: #d5d7dc;
  --cirrus-dark-gray: #909090;
  --cirrus-dark: #363636;
  --cirrus-link: #5e5cc7;
  --cirrus-link-dark: #4643e2;
  --cirrus-info: #2972fa;
  --cirrus-success: #0dd157;
  --cirrus-success-rgb: 13, 209, 87;
  --cirrus-warning: #fab633;
  --cirrus-danger: #fb4143;
  --cirrus-light-hover: #d0e0ef;
  --cirrus-dark-hover: #505050;
  --cirrus-info-hover: #1062f9;
  --cirrus-link-hover: #f8f7ff;
  --cirrus-success-hover: #0cb94d;
  --cirrus-warning-hover: #f9ad1a;
  --cirrus-danger-hover: #eb0507;
  --cirrus-select-bg: rgba(0, 161, 255, 0.2);
  --cirrus-code-bg: var(--cirrus-primary-light);
  --cirrus-code-fg: #dc4753;
  --cirrus-form-group-bg: var(--cirrus-light-gray);
  --cirrus-form-group-fg: var(--cirrus-dark-gray);
  --toast-primary-bg: rgba(49, 59, 80, 0.9);
  --animation-duration: 0.2s;
  --focus-opacity: 0.55;
  --space-size: 0.5rem;
  --font-size-xs: 0.7rem;
  --font-size-s: 0.85rem;
  --font-size-m: 1rem;
  --font-size-l: 1.35rem;
  --font-size-xl: 1.75rem; }
